<footer>
    Bjarke Bard Solutions


    <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous">

    </script>
    <script>


<!--
        $(document).ready(function() {
            var prettyprint = false;
            $("pre code").parent().each(function() {
                $(this).addClass('prettyprint linenums');
                prettyprint = true;
            });
            if ( prettyprint ) {
                $.getScript("https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js?lang=css&skin=desert", function() { prettyPrint() });
            }
        });-->
    </script>


    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js?lang=css&amp;skin=sunburst" >

    </script>
</footer>

